:root {
  --color-green: rgb(84, 230, 175);
  --color-blue-950: rgb(18, 23, 37);
  --color-blue-900: rgb(44, 52, 75);
  --color-blue-600: rgb(90, 102, 138);
  --color-blue-300: rgb(194, 203, 229);
  --color-white: rgb(255, 255, 255);
  --color-red: rgb(251, 60, 60);

  --font-family-chivo: "Chivo", sans-serif;

  --font-weight-700: 700;
  --font-weight-300: 300;

  --font-size-lg: clamp(2rem, 1rem + 4.1667vw, 3rem);
  --font-size-rg: clamp(0.875rem, 0.625rem + 1.0417vw, 1.125rem);
  --font-size-sm: 0.875rem;

  --line-height-200: 200%;
  --line-height-150: 150%;
  --line-height-120: 120%;

  --spacing-1300: 6.5rem;
  --spacing-1100: 5.5rem;
  --spacing-1000: 5rem;
  --spacing-800: 4rem;
  --spacing-700: 3.5rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-100: 0.5rem;
  --spacing-50: 0.25rem;
  --spacing-0: 0;

  background-color: var(--color-blue-950);
  color: var(--color-blue-300);

  font-family: var(--font-family-chivo);
  font-size: 16px;
}
